.btn-get{
    width: 175px;
    height: 56px;
    border: none;
    color: white;
    text-transform: uppercase;
    background-color: #D98200;
    margin-top: 15px;

}

.btn-get:hover{
    border:  1px solid black;
    background-color: white;
    color: black;
}

.singup{
    width: 159px;
    height: 48px;
    background-color: #D98200;
    color: white;
    text-transform: uppercase;
    display: block;
    margin: 0px auto;
    margin-top: 50px;
    border: none;
    font-weight: bold;
}

.card-groups{
    margin-top: 10px;
    
}

.card-items{
    padding-top: 20px;
}

.card-lavel{
    margin-top: 20px;
}

.lave-items{
    padding-top: 20px;
}


.bac{
    background: #d90b64;
    background: radial-gradient(circle, rgba(217, 11, 100, 1) 0%, rgba(148, 187, 233, 1) 100%);
}


.expart{
    width: 204px;
    height: 48px;
    background-color: #D98200;
    color: white;
    display: block;
    margin:  0px auto;
    border: none;
    margin-top: 50px;
}

.input-items{
    padding-top: 15px;
}